<a href="https://colab.research.google.com/github/Ritesh24f1001677/MACHINE_LEARNING/blob/main/Pandas_Week1_Session%2BGraded_1_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises

## Exercise 1: Sales Data Analysis

In [96]:
import numpy as np
import pandas as pd
np.random.seed(42)
dates = pd.date_range('2023-01-01', '2023-03-31')
products = ['Laptop', 'Phone', 'Tablet', 'Monitor', 'Keyboard']
regions = ['North', 'South', 'East', 'West']

sales_data = pd.DataFrame({
    'Date': np.random.choice(dates, 500),
    'Product': np.random.choice(products, 500),
    'Region': np.random.choice(regions, 500),
    'Units_Sold': np.random.randint(1, 20, 500),
    'Unit_Price': np.random.uniform(100, 2000, 500).round(2),
    'Customer_ID': np.random.randint(1000, 1100, 500)
})
sales_data['Total_Sales'] = sales_data['Units_Sold'] * sales_data['Unit_Price']

In [97]:
# analyze the data
sales_data.shape

(500, 7)

In [98]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         500 non-null    datetime64[ns]
 1   Product      500 non-null    object
 2   Region       500 non-null    object
 3   Units_Sold   500 non-null    int64
 4   Unit_Price   500 non-null    float64
 5   Customer_ID  500 non-null    int64
 6   Total_Sales  500 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 27.5+ KB

In [99]:
sales_data.isna()

      Date  Product  Region  Units_Sold  Unit_Price  Customer_ID  Total_Sales
0    False    False   False       False       False        False        False
1    False    False   False       False       False        False        False
2    False    False   False       False       False        False        False
3    False    False   False       False       False        False        False
4    False    False   False       False       False        False        False
..     ...      ...     ...         ...         ...          ...          ...
495  False    False   False       False       False        False        False
496  False    False   False       False       False        False        False
497  False    False   False       False       False        False        False
498  False    False   False       False       False        False        False
499  False    False   False       False       False        False        False

[500 rows x 7 columns]

In [100]:
sales_data.isnull().sum()

Date           0
Product        0
Region         0
Units_Sold     0
Unit_Price     0
Customer_ID    0
Total_Sales    0
dtype: int64

In [101]:
sales_data.head()

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60

**we can fill three different way to represent null nan values**
- '?'
- '####'
- '--------'

- np.nan
- NaN
- None

In [102]:
sales_data.mode()

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-03-03,Keyboard,North,12.0,100.63,1069.0,124.16
1,NaT,NaN,NaN,15.0,102.35,NaN,127.87
2,NaT,NaN,NaN,NaN,103.57,NaN,271.92
3,NaT,NaN,NaN,NaN,104.91,NaN,276.10
4,NaT,NaN,NaN,NaN,119.81,NaN,307.05
...,...,...,...,...,...,...,...
495,NaT,NaN,NaN,NaN,1977.72,NaN,32436.90
496,NaT,NaN,NaN,NaN,1984.02,NaN,32831.42
497,NaT,NaN,NaN,NaN,1985.59,NaN,33548.40
498,NaT,NaN,NaN,NaN,1987.34,NaN,33616.98
499,NaT,NaN,NaN,NaN,1991.41,NaN,34340.58

In [103]:
sales_data['Units_Sold'].var()

29.089262525050092

In [104]:
sales_data[['Units_Sold','Unit_Price']]

     Units_Sold  Unit_Price
0            12     1948.89
1            15     1202.21
2             9      583.03
3            13     1091.29
4            15      751.04
..          ...         ...
495          10      444.51
496          18      836.58
497          11      864.42
498           2     1761.10
499          18     1069.21

[500 rows x 2 columns]

In [105]:
sales_data.iloc[2,3:]

Units_Sold           9
Unit_Price      583.03
Customer_ID       1079
Total_Sales    5247.27
Name: 2, dtype: object

In [106]:
sales_data.iloc[2:,3]

2       9
3      13
4      15
5      10
6      16
       ..
495    10
496    18
497    11
498     2
499    18
Name: Units_Sold, Length: 498, dtype: int64

In [107]:
x=pd.DataFrame({
    'A':[12,13,14,15],
    'B':['x','y','z','w'],
    'C':[12,'0',12,3]
}, index=['a','b','c','d'])

x

    A  B   C
a  12  x  12
b  13  y   0
c  14  z  12
d  15  w   3

In [108]:
sales_data.loc[3]

Date           2023-03-02 00:00:00
Product                   Keyboard
Region                       North
Units_Sold                      13
Unit_Price                 1091.29
Customer_ID                   1057
Total_Sales               14186.77
Name: 3, dtype: object

In [109]:
sales_data

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60
...,...,...,...,...,...,...,...
495,2023-02-09,Keyboard,South,10,444.51,1032,4445.10
496,2023-03-15,Laptop,West,18,836.58,1072,15058.44
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62
498,2023-02-13,Tablet,South,2,1761.10,1008,3522.20
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78

### Tasks:

1. **Basic Indexing**:
   - Select all sales from the 'North' region
   - Select sales of 'Laptop' or 'Phone' with more than 10 units sold
   - Select columns 'Product', 'Region', and 'Total_Sales' for all records

2. **Grouping Operations**:
   - Find the total sales by product
   - Calculate the average units sold by region
   - Find the top 3 customers by total spending

3. **Filtering**:
   - Find all sales above $5000
   - Find the most expensive single sale for each product
   - Find all sales that occurred on weekends

4. **Apply Functions**:
   - Create a new column 'Price_Category' that labels each sale as:
     - 'Budget' if Unit_Price < 300
     - 'Mid-Range' if 300 ≤ Unit_Price < 1000
     - 'Premium' if Unit_Price ≥ 1000

In [110]:
sales_data.head()

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60

In [111]:
# Solution
(sales_data['Region']=='North').sum()

np.int64(134)

In [112]:
cont=((sales_data['Product']=='Laptop') | (sales_data['Product']=='Phone') & (sales_data['Units_Sold']>10))

In [113]:
sales_data[cont]['Total_Sales'].sum()

np.float64(1827293.21)

In [114]:
# solution
(sales_data['Region']=='North').sum()

np.int64(134)

In [115]:
# solution
cont=((sales_data['Product']=='Laptop') | (sales_data['Product']=='Phone') & (sales_data['Units_Sold']>10))
sales_data[cont]['Total_Sales'].sum()

np.float64(1827293.21)

In [116]:
# solution
sales_data[[ 'Product', 'Region','Total_Sales']]

      Product Region  Total_Sales
0    Keyboard  North     23386.68
1     Monitor  South     18033.15
2       Phone  North      5247.27
3    Keyboard  North     14186.77
4      Tablet  North     11265.60
..        ...    ...          ...
495  Keyboard  South      4445.10
496    Laptop   West     15058.44
497   Monitor  North      9508.62
498    Tablet  South      3522.20
499   Monitor  North     19245.78

[500 rows x 3 columns]

In [117]:
grouped=sales_data.groupby('Product')[['Total_Sales','Unit_Price']].sum()
grouped

          Total_Sales  Unit_Price
Product
Keyboard   1074551.96   109916.34
Laptop     1199835.35   114321.10
Monitor     950987.34    90647.54
Phone       959547.49    98381.09
Tablet      988081.01   106030.28

In [118]:
grp=sales_data.groupby('Region')['Unit_Price'].mean()
grp

Region
East     1130.177422
North     957.278657
South    1055.127795
West     1012.225856
Name: Unit_Price, dtype: float64

In [119]:
grp1=sales_data.groupby('Customer_ID')['Total_Sales'].sum().sort_values().head(3)

In [120]:
grp1

Customer_ID
1066    4486.09
1012    6021.82
1053    8879.71
Name: Total_Sales, dtype: float64

In [121]:
sales_data.sort_values(by='Total_Sales',ascending=False)

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
71,2023-02-23,Keyboard,West,18,1907.81,1068,34340.58
351,2023-01-24,Phone,East,18,1867.61,1040,33616.98
417,2023-01-13,Tablet,East,18,1863.80,1013,33548.40
314,2023-01-08,Keyboard,East,17,1931.26,1024,32831.42
398,2023-03-27,Keyboard,South,18,1802.05,1013,32436.90
...,...,...,...,...,...,...,...
202,2023-02-25,Laptop,East,3,102.35,1050,307.05
209,2023-01-01,Laptop,South,2,138.05,1059,276.10
41,2023-02-20,Keyboard,East,1,271.92,1032,271.92
64,2023-02-05,Keyboard,West,1,127.87,1080,127.87
420,2023-01-17,Monitor,East,1,124.16,1061,124.16

In [122]:
sales_data.sort_values(by='Total_Sales',ascending=False)

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
71,2023-02-23,Keyboard,West,18,1907.81,1068,34340.58
351,2023-01-24,Phone,East,18,1867.61,1040,33616.98
417,2023-01-13,Tablet,East,18,1863.80,1013,33548.40
314,2023-01-08,Keyboard,East,17,1931.26,1024,32831.42
398,2023-03-27,Keyboard,South,18,1802.05,1013,32436.90
...,...,...,...,...,...,...,...
202,2023-02-25,Laptop,East,3,102.35,1050,307.05
209,2023-01-01,Laptop,South,2,138.05,1059,276.10
41,2023-02-20,Keyboard,East,1,271.92,1032,271.92
64,2023-02-05,Keyboard,West,1,127.87,1080,127.87
420,2023-01-17,Monitor,East,1,124.16,1061,124.16

In [123]:
sales_data['Date'].dtype

dtype('<M8[ns]')

In [124]:
sales_data['Date'].dt.day_of_week

0      1
1      6
2      0
3      3
4      5
      ..
495    3
496    2
497    6
498    0
499    6
Name: Date, Length: 500, dtype: int32

In [125]:
sales_data['Date'].dt.day_name()

0        Tuesday
1         Sunday
2         Monday
3       Thursday
4       Saturday
         ...
495     Thursday
496    Wednesday
497       Sunday
498       Monday
499       Sunday
Name: Date, Length: 500, dtype: object

In [126]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         500 non-null    datetime64[ns]
 1   Product      500 non-null    object
 2   Region       500 non-null    object
 3   Units_Sold   500 non-null    int64
 4   Unit_Price   500 non-null    float64
 5   Customer_ID  500 non-null    int64
 6   Total_Sales  500 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 27.5+ KB

In [127]:
def bin(row):
  if row<300:
    return 'Budget'
  elif row>=300 and row<1000:
    return 'Mid_Range'
  else:
    return 'Premium'
sales_data['Unit_Price'].apply(bin)
sales_data

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60
...,...,...,...,...,...,...,...
495,2023-02-09,Keyboard,South,10,444.51,1032,4445.10
496,2023-03-15,Laptop,West,18,836.58,1072,15058.44
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62
498,2023-02-13,Tablet,South,2,1761.10,1008,3522.20
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78

In [128]:
sales_data

,Date,Product,Region,Units_Sold,Unit_Price,Customer_ID,Total_Sales
0,2023-02-21,Keyboard,North,12,1948.89,1002,23386.68
1,2023-01-15,Monitor,South,15,1202.21,1087,18033.15
2,2023-03-13,Phone,North,9,583.03,1079,5247.27
3,2023-03-02,Keyboard,North,13,1091.29,1057,14186.77
4,2023-01-21,Tablet,North,15,751.04,1054,11265.60
...,...,...,...,...,...,...,...
495,2023-02-09,Keyboard,South,10,444.51,1032,4445.10
496,2023-03-15,Laptop,West,18,836.58,1072,15058.44
497,2023-02-12,Monitor,North,11,864.42,1060,9508.62
498,2023-02-13,Tablet,South,2,1761.10,1008,3522.20
499,2023-01-29,Monitor,North,18,1069.21,1067,19245.78

## Exercise 2: Employee Data Analysis

In [129]:
import pandas as pd
import numpy as np

In [130]:
np.random.seed(42)
departments = ['Engineering', 'Marketing', 'Finance', 'HR', 'Sales']
positions = ['Junior', 'Mid', 'Senior', 'Manager', 'Director']

employee_data = pd.DataFrame({
    'Employee_ID': range(1001, 1051),
    'Name': [f'Employee_{i}' for i in range(1, 51)],
    'Department': np.random.choice(departments, 50),
    'Position': np.random.choice(positions, 50),
    'Salary': np.random.randint(40000, 150000, 50),
    'Join_Date': pd.to_datetime(np.random.choice(pd.date_range('2018-01-01', '2023-01-01'), 50)),
    'Performance_Score': np.random.randint(1, 101, 50)
})

In [131]:
# analyze the data
employee_data.shape

(50, 7)

In [132]:
employee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_ID        50 non-null     int64
 1   Name               50 non-null     object
 2   Department         50 non-null     object
 3   Position           50 non-null     object
 4   Salary             50 non-null     int64
 5   Join_Date          50 non-null     datetime64[ns]
 6   Performance_Score  50 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 2.9+ KB

In [133]:
employee_data.describe()

       Employee_ID         Salary            Join_Date  Performance_Score
count     50.00000      50.000000                   50          50.000000
mean    1025.50000  101117.420000  2021-04-18 06:14:24          52.540000
min     1001.00000   40206.000000  2018-07-09 00:00:00           1.000000
25%     1013.25000   74175.750000  2020-04-19 06:00:00          20.000000
50%     1025.50000  105274.500000  2021-08-23 00:00:00          57.500000
75%     1037.75000  126453.250000  2022-02-23 00:00:00          78.750000
max     1050.00000  149225.000000  2022-12-27 00:00:00          98.000000
std       14.57738   31205.702819                  NaN          31.938851

In [134]:
employee_data.isnull().sum()

Employee_ID          0
Name                 0
Department           0
Position             0
Salary               0
Join_Date            0
Performance_Score    0
dtype: int64

In [135]:
employee_data.duplicated().sum()

np.int64(0)

In [136]:
employee_data.columns

Index(['Employee_ID', 'Name', 'Department', 'Position', 'Salary', 'Join_Date',
       'Performance_Score'],
      dtype='object')

In [137]:
employee_data['Department']

0              HR
1           Sales
2         Finance
3           Sales
4           Sales
5       Marketing
6         Finance
7         Finance
8         Finance
9           Sales
10             HR
11        Finance
12          Sales
13      Marketing
14             HR
15      Marketing
16             HR
17          Sales
18    Engineering
19             HR
20      Marketing
21          Sales
22             HR
23    Engineering
24    Engineering
25        Finance
26        Finance
27      Marketing
28             HR
29             HR
30        Finance
31             HR
32             HR
33    Engineering
34        Finance
35          Sales
36        Finance
37          Sales
38    Engineering
39      Marketing
40             HR
41    Engineering
42             HR
43      Marketing
44      Marketing
45    Engineering
46      Marketing
47          Sales
48      Marketing
49             HR
Name: Department, dtype: object

### Tasks:

1. **Basic Operations**:
   - Find all employees in Engineering with salary > $80,000
   - Count the number of employees in each department
   - Find the average salary by position level

2. **Time-Based Analysis**:
   - Calculate employee tenure in years. Suppose the end date is `'2023-01-01'`
   - Find employees who joined in 2020
   - Calculate the average performance score by year of joining

3. **Advanced Grouping**:
   - For each department, find the highest and lowest salary
   - Find departments where the average performance score is above 70

4. **Apply and Transform**:
   - Apply a 5% salary increase to all employees with performance score > 80

In [138]:
# Find all employees in Engineering with salary > $80,000
employee_data[(employee_data['Department']=='Engineering') & (employee_data['Salary']>80000)]

,Employee_ID,Name,Department,Position,Salary,Join_Date,Performance_Score
23,1024,Employee_24,Engineering,Mid,138806,2020-08-30,56
33,1034,Employee_34,Engineering,Director,94268,2021-06-02,97
38,1039,Employee_39,Engineering,Manager,111910,2022-08-23,93
45,1046,Employee_46,Engineering,Senior,115450,2019-03-18,67

In [139]:
# solution
grouped=employee_data.groupby('Department').count().sum(axis=1)

In [140]:
print(grouped)

Department
Engineering    42
Finance        60
HR             78
Marketing      60
Sales          60
dtype: int64

In [141]:
employee_data

,Employee_ID,Name,Department,Position,Salary,Join_Date,Performance_Score
0,1001,Employee_1,HR,Manager,92251,2019-07-11,3
1,1002,Employee_2,Sales,Manager,62662,2022-05-17,56
2,1003,Employee_3,Finance,Manager,48392,2020-10-09,81
3,1004,Employee_4,Sales,Director,70535,2019-10-08,59
4,1005,Employee_5,Sales,Senior,118603,2020-03-06,2
5,1006,Employee_6,Marketing,Junior,92256,2020-11-17,2
6,1007,Employee_7,Finance,Manager,129135,2022-07-02,92
7,1008,Employee_8,Finance,Mid,75222,2022-04-29,54
8,1009,Employee_9,Finance,Manager,117373,2021-09-25,87
9,1010,Employee_10,Sales,Mid,119575,2022-12-27,96
10,1011,Employee_11,HR,Mid,136354,2021-09-16,97
11,1012,Employee_12,Finance,Manager,124651,2022-07-22,1
12,1013,Employee_13,Sales,Director,103335,2022-03-10,19
13,1014,Employee_14,Marketing,Mid,50965,2021-10-03,2
14,1015,Employee_15,HR,Mid,64538,2022-02-05,53
15,1016,Employee_16,Marketing,Manager,148066,2021-06-08,44
16,1017,Employee_17,HR,Mid,110592,2018-07-09,90
17,1018,Employee_18,Sales,Mid,138018,2021-06-02,32
18,1019,Employee_19,Engineering,Manager,48110,2021-11-09,70
19,1020,Employee_20,HR,Manager,119309,2021-11-01,32
20,1021,Employee_21,Marketing,Junior,67266,2021-07-30,68
21,1022,Employee_22,Sales,Director,92992,2019-09-25,55
22,1023,Employee_23,HR,Director,122948,2019-09-20,75
23,1024,Employee_24,Engineering,Mid,138806,2020-08-30,56
24,1025,Employee_25,Engineering,Director,46910,2022-11-04,17
25,1026,Employee_26,Finance,Mid,130982,2021-07-06,38
26,1027,Employee_27,Finance,Junior,40206,2021-10-14,24
27,1028,Employee_28,Marketing,Manager,127054,2019-12-11,69
28,1029,Employee_29,HR,Manager,127897,2022-01-19,98
29,1030,Employee_30,HR,Manager,63419,2021-12-05,70
30,1031,Employee_31,Finance,Director,90636,2019-10-11,86
31,1032,Employee_32,HR,Junior,90015,2018-11-14,11
32,1033,Employee_33,HR,Director,147059,2022-08-28,16
33,1034,Employee_34,Engineering,Director,94268,2021-06-02,97
34,1035,Employee_35,Finance,Junior,127939,2021-06-11,73
35,1036,Employee_36,Sales,Junior,58141,2019-11-15,59
36,1037,Employee_37,Finance,Junior,120356,2019-10-26,70
37,1038,Employee_38,Sales,Junior,145878,2021-10-29,80
38,1039,Employee_39,Engineering,Manager,111910,2022-08-23,93
39,1040,Employee_40,Marketing,Senior,96044,2022-06-20,3
40,1041,Employee_41,HR,Senior,107214,2022-02-04,20
41,1042,Employee_42,Engineering,Junior,73827,2021-06-10,59
42,1043,Employee_43,HR,Senior,95820,2022-09-12,36
43,1044,Employee_44,Marketing,Senior,102623,2021-02-10,19
44,1045,Employee_45,Marketing,Junior,121734,2022-03-01,90
45,1046,Employee_46,Engineering,Senior,115450,2019-03-18,67
46,1047,Employee_47,Marketing,Director,133426,2019-07-18,19
47,1048,Employee_48,Sales,Mid,62299,2021-07-15,20
48,1049,Employee_49,Marketing,Mid,83585,2022-03-14,96
49,1050,Employee_50,HR,Junior,149225,2021-11-10,71

In [142]:
# Solution
grouped1=employee_data.groupby('Position')['Salary']

In [143]:
grouped1

In [144]:
employee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_ID        50 non-null     int64
 1   Name               50 non-null     object
 2   Department         50 non-null     object
 3   Position           50 non-null     object
 4   Salary             50 non-null     int64
 5   Join_Date          50 non-null     datetime64[ns]
 6   Performance_Score  50 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 2.9+ KB

In [145]:
np.dtype(employee_data['Join_Date'])

dtype('<M8[ns]')

In [146]:
end_time=pd.to_datetime('2023-01-01')

In [147]:
end_date = pd.to_datetime("2023-01-01")

In [148]:
type(end_date)

pandas._libs.tslibs.timestamps.Timestamp

In [149]:
employee_data['Tenure_period']=(end_date-employee_data['Join_Date'])
employee_data

,Employee_ID,Name,Department,Position,Salary,Join_Date,Performance_Score,Tenure_period
0,1001,Employee_1,HR,Manager,92251,2019-07-11,3,1270 days
1,1002,Employee_2,Sales,Manager,62662,2022-05-17,56,229 days
2,1003,Employee_3,Finance,Manager,48392,2020-10-09,81,814 days
3,1004,Employee_4,Sales,Director,70535,2019-10-08,59,1181 days
4,1005,Employee_5,Sales,Senior,118603,2020-03-06,2,1031 days
5,1006,Employee_6,Marketing,Junior,92256,2020-11-17,2,775 days
6,1007,Employee_7,Finance,Manager,129135,2022-07-02,92,183 days
7,1008,Employee_8,Finance,Mid,75222,2022-04-29,54,247 days
8,1009,Employee_9,Finance,Manager,117373,2021-09-25,87,463 days
9,1010,Employee_10,Sales,Mid,119575,2022-12-27,96,5 days
10,1011,Employee_11,HR,Mid,136354,2021-09-16,97,472 days
11,1012,Employee_12,Finance,Manager,124651,2022-07-22,1,163 days
12,1013,Employee_13,Sales,Director,103335,2022-03-10,19,297 days
13,1014,Employee_14,Marketing,Mid,50965,2021-10-03,2,455 days
14,1015,Employee_15,HR,Mid,64538,2022-02-05,53,330 days
15,1016,Employee_16,Marketing,Manager,148066,2021-06-08,44,572 days
16,1017,Employee_17,HR,Mid,110592,2018-07-09,90,1637 days
17,1018,Employee_18,Sales,Mid,138018,2021-06-02,32,578 days
18,1019,Employee_19,Engineering,Manager,48110,2021-11-09,70,418 days
19,1020,Employee_20,HR,Manager,119309,2021-11-01,32,426 days
20,1021,Employee_21,Marketing,Junior,67266,2021-07-30,68,520 days
21,1022,Employee_22,Sales,Director,92992,2019-09-25,55,1194 days
22,1023,Employee_23,HR,Director,122948,2019-09-20,75,1199 days
23,1024,Employee_24,Engineering,Mid,138806,2020-08-30,56,854 days
24,1025,Employee_25,Engineering,Director,46910,2022-11-04,17,58 days
25,1026,Employee_26,Finance,Mid,130982,2021-07-06,38,544 days
26,1027,Employee_27,Finance,Junior,40206,2021-10-14,24,444 days
27,1028,Employee_28,Marketing,Manager,127054,2019-12-11,69,1117 days
28,1029,Employee_29,HR,Manager,127897,2022-01-19,98,347 days
29,1030,Employee_30,HR,Manager,63419,2021-12-05,70,392 days
30,1031,Employee_31,Finance,Director,90636,2019-10-11,86,1178 days
31,1032,Employee_32,HR,Junior,90015,2018-11-14,11,1509 days
32,1033,Employee_33,HR,Director,147059,2022-08-28,16,126 days
33,1034,Employee_34,Engineering,Director,94268,2021-06-02,97,578 days
34,1035,Employee_35,Finance,Junior,127939,2021-06-11,73,569 days
35,1036,Employee_36,Sales,Junior,58141,2019-11-15,59,1143 days
36,1037,Employee_37,Finance,Junior,120356,2019-10-26,70,1163 days
37,1038,Employee_38,Sales,Junior,145878,2021-10-29,80,429 days
38,1039,Employee_39,Engineering,Manager,111910,2022-08-23,93,131 days
39,1040,Employee_40,Marketing,Senior,96044,2022-06-20,3,195 days
40,1041,Employee_41,HR,Senior,107214,2022-02-04,20,331 days
41,1042,Employee_42,Engineering,Junior,73827,2021-06-10,59,570 days
42,1043,Employee_43,HR,Senior,95820,2022-09-12,36,111 days
43,1044,Employee_44,Marketing,Senior,102623,2021-02-10,19,690 days
44,1045,Employee_45,Marketing,Junior,121734,2022-03-01,90,306 days
45,1046,Employee_46,Engineering,Senior,115450,2019-03-18,67,1385 days
46,1047,Employee_47,Marketing,Director,133426,2019-07-18,19,1263 days
47,1048,Employee_48,Sales,Mid,62299,2021-07-15,20,535 days
48,1049,Employee_49,Marketing,Mid,83585,2022-03-14,96,293 days
49,1050,Employee_50,HR,Junior,149225,2021-11-10,71,417 days

In [150]:
def employee(date):
    return date.month==2

In [151]:
employee_data[employee_data['Join_Date'].apply(employee)]

,Employee_ID,Name,Department,Position,Salary,Join_Date,Performance_Score,Tenure_period
14,1015,Employee_15,HR,Mid,64538,2022-02-05,53,330 days
40,1041,Employee_41,HR,Senior,107214,2022-02-04,20,331 days
43,1044,Employee_44,Marketing,Senior,102623,2021-02-10,19,690 days

3. **Advanced Grouping**:
   - For each department, find the highest and lowest salary
   - Find departments where the average performance score is above 70

4. **Apply and Transform**:
   - Apply a 5% salary increase to all employees with performance score > 80

In [152]:
avg_performance=employee_data.groupby('Join_Date')['Performance_Score'].mean()

In [153]:
avg_performance

Join_Date
2018-07-09    90.0
2018-11-14    11.0
2019-03-18    67.0
2019-07-11     3.0
2019-07-18    19.0
2019-09-20    75.0
2019-09-25    55.0
2019-10-08    59.0
2019-10-11    86.0
2019-10-26    70.0
2019-11-15    59.0
2019-12-11    69.0
2020-03-06     2.0
2020-08-30    56.0
2020-10-09    81.0
2020-11-17     2.0
2021-02-10    19.0
2021-06-02    64.5
2021-06-08    44.0
2021-06-10    59.0
2021-06-11    73.0
2021-07-06    38.0
2021-07-15    20.0
2021-07-30    68.0
2021-09-16    97.0
2021-09-25    87.0
2021-10-03     2.0
2021-10-14    24.0
2021-10-29    80.0
2021-11-01    32.0
2021-11-09    70.0
2021-11-10    71.0
2021-12-05    70.0
2022-01-19    98.0
2022-02-04    20.0
2022-02-05    53.0
2022-03-01    90.0
2022-03-10    19.0
2022-03-14    96.0
2022-04-29    54.0
2022-05-17    56.0
2022-06-20     3.0
2022-07-02    92.0
2022-07-22     1.0
2022-08-23    93.0
2022-08-28    16.0
2022-09-12    36.0
2022-11-04    17.0
2022-12-27    96.0
Name: Performance_Score, dtype: float64

3. **Advanced Grouping**:
   - For each department, find the highest and lowest salary
   - Find departments where the average performance score is above 70

4. **Apply and Transform**:
   - Apply a 5% salary increase to all employees with performance score > 80

In [154]:
Salary_Stats=employee_data.groupby('Department')['Salary'].agg(['max','min']).reset_index()

In [155]:
Salary_Stats

    Department     max    min
0  Engineering  138806  46910
1      Finance  130982  40206
2           HR  149225  63419
3    Marketing  148066  50965
4        Sales  145878  58141

In [156]:
avg_perf=employee_data.groupby('Department')['Performance_Score'].mean().reset_index()

In [157]:
dept_above70=avg_perf[avg_perf['Performance_Score']>70]

In [158]:
print(dept_above70)

Empty DataFrame
Columns: [Department, Performance_Score]
Index: []

In [159]:
def applied(row):
  if row['Performance_Score']>80:
    row['Salary']=row['Salary']*1.05

  return row

In [160]:
employee_data=employee_data.apply(applied, axis=1)

In [161]:
employee_data

,Employee_ID,Name,Department,Position,Salary,Join_Date,Performance_Score,Tenure_period
0,1001,Employee_1,HR,Manager,92251.00,2019-07-11,3,1270 days
1,1002,Employee_2,Sales,Manager,62662.00,2022-05-17,56,229 days
2,1003,Employee_3,Finance,Manager,50811.60,2020-10-09,81,814 days
3,1004,Employee_4,Sales,Director,70535.00,2019-10-08,59,1181 days
4,1005,Employee_5,Sales,Senior,118603.00,2020-03-06,2,1031 days
5,1006,Employee_6,Marketing,Junior,92256.00,2020-11-17,2,775 days
6,1007,Employee_7,Finance,Manager,135591.75,2022-07-02,92,183 days
7,1008,Employee_8,Finance,Mid,75222.00,2022-04-29,54,247 days
8,1009,Employee_9,Finance,Manager,123241.65,2021-09-25,87,463 days
9,1010,Employee_10,Sales,Mid,125553.75,2022-12-27,96,5 days
10,1011,Employee_11,HR,Mid,143171.70,2021-09-16,97,472 days
11,1012,Employee_12,Finance,Manager,124651.00,2022-07-22,1,163 days
12,1013,Employee_13,Sales,Director,103335.00,2022-03-10,19,297 days
13,1014,Employee_14,Marketing,Mid,50965.00,2021-10-03,2,455 days
14,1015,Employee_15,HR,Mid,64538.00,2022-02-05,53,330 days
15,1016,Employee_16,Marketing,Manager,148066.00,2021-06-08,44,572 days
16,1017,Employee_17,HR,Mid,116121.60,2018-07-09,90,1637 days
17,1018,Employee_18,Sales,Mid,138018.00,2021-06-02,32,578 days
18,1019,Employee_19,Engineering,Manager,48110.00,2021-11-09,70,418 days
19,1020,Employee_20,HR,Manager,119309.00,2021-11-01,32,426 days
20,1021,Employee_21,Marketing,Junior,67266.00,2021-07-30,68,520 days
21,1022,Employee_22,Sales,Director,92992.00,2019-09-25,55,1194 days
22,1023,Employee_23,HR,Director,122948.00,2019-09-20,75,1199 days
23,1024,Employee_24,Engineering,Mid,138806.00,2020-08-30,56,854 days
24,1025,Employee_25,Engineering,Director,46910.00,2022-11-04,17,58 days
25,1026,Employee_26,Finance,Mid,130982.00,2021-07-06,38,544 days
26,1027,Employee_27,Finance,Junior,40206.00,2021-10-14,24,444 days
27,1028,Employee_28,Marketing,Manager,127054.00,2019-12-11,69,1117 days
28,1029,Employee_29,HR,Manager,134291.85,2022-01-19,98,347 days
29,1030,Employee_30,HR,Manager,63419.00,2021-12-05,70,392 days
30,1031,Employee_31,Finance,Director,95167.80,2019-10-11,86,1178 days
31,1032,Employee_32,HR,Junior,90015.00,2018-11-14,11,1509 days
32,1033,Employee_33,HR,Director,147059.00,2022-08-28,16,126 days
33,1034,Employee_34,Engineering,Director,98981.40,2021-06-02,97,578 days
34,1035,Employee_35,Finance,Junior,127939.00,2021-06-11,73,569 days
35,1036,Employee_36,Sales,Junior,58141.00,2019-11-15,59,1143 days
36,1037,Employee_37,Finance,Junior,120356.00,2019-10-26,70,1163 days
37,1038,Employee_38,Sales,Junior,145878.00,2021-10-29,80,429 days
38,1039,Employee_39,Engineering,Manager,117505.50,2022-08-23,93,131 days
39,1040,Employee_40,Marketing,Senior,96044.00,2022-06-20,3,195 days
40,1041,Employee_41,HR,Senior,107214.00,2022-02-04,20,331 days
41,1042,Employee_42,Engineering,Junior,73827.00,2021-06-10,59,570 days
42,1043,Employee_43,HR,Senior,95820.00,2022-09-12,36,111 days
43,1044,Employee_44,Marketing,Senior,102623.00,2021-02-10,19,690 days
44,1045,Employee_45,Marketing,Junior,127820.70,2022-03-01,90,306 days
45,1046,Employee_46,Engineering,Senior,115450.00,2019-03-18,67,1385 days
46,1047,Employee_47,Marketing,Director,133426.00,2019-07-18,19,1263 days
47,1048,Employee_48,Sales,Mid,62299.00,2021-07-15,20,535 days
48,1049,Employee_49,Marketing,Mid,87764.25,2022-03-14,96,293 days
49,1050,Employee_50,HR,Junior,149225.00,2021-11-10,71,417 days

## Exercise 3: Customer Behavior Analysis

In [162]:
customers = pd.DataFrame({
    'Customer_ID': range(1000, 1020),
    'Age': np.random.randint(18, 70, 20),
    'Gender': np.random.choice(['M', 'F'], 20),
    'Income': np.random.choice(['Low', 'Medium', 'High'], 20, p=[0.4, 0.5, 0.1]),
    'Join_Date': pd.to_datetime(np.random.choice(pd.date_range('2020-01-01', '2023-01-01'), 20))
})

transactions = pd.DataFrame({
    'Transaction_ID': range(5000, 5100),
    'Customer_ID': np.random.choice(customers['Customer_ID'], 100),
    'Date': pd.to_datetime(np.random.choice(pd.date_range('2023-01-01', '2023-03-31'), 100)),
    'Amount': np.random.uniform(5, 500, 100).round(2),
    'Category': np.random.choice(['Electronics', 'Clothing', 'Groceries', 'Entertainment'], 100)
})

In [163]:
# analyze
df1=pd.DataFrame(customers)
df2=pd.DataFrame(transactions)
pd.merge(df1,df2, how='left',on='Customer_ID')

,Customer_ID,Age,Gender,Income,Join_Date,Transaction_ID,Date,Amount,Category
0,1000,69,F,Medium,2022-03-26,5000,2023-03-17,448.28,Electronics
1,1000,69,F,Medium,2022-03-26,5017,2023-03-26,50.15,Groceries
2,1000,69,F,Medium,2022-03-26,5019,2023-02-02,33.49,Electronics
3,1000,69,F,Medium,2022-03-26,5033,2023-03-21,354.59,Electronics
4,1000,69,F,Medium,2022-03-26,5046,2023-01-12,281.41,Entertainment
...,...,...,...,...,...,...,...,...,...
95,1019,43,F,Medium,2022-08-17,5018,2023-02-08,249.74,Electronics
96,1019,43,F,Medium,2022-08-17,5045,2023-02-12,389.69,Electronics
97,1019,43,F,Medium,2022-08-17,5058,2023-01-02,293.77,Electronics
98,1019,43,F,Medium,2022-08-17,5073,2023-02-05,484.80,Entertainment
99,1019,43,F,Medium,2022-08-17,5077,2023-01-10,230.00,Entertainment

In [164]:
df1=pd.DataFrame(customers)
df2=pd.DataFrame(transactions)
pd.merge(df1,df2, how='right',on='Customer_ID')

,Customer_ID,Age,Gender,Income,Join_Date,Transaction_ID,Date,Amount,Category
0,1000,69,F,Medium,2022-03-26,5000,2023-03-17,448.28,Electronics
1,1004,56,M,Medium,2021-11-18,5001,2023-01-26,197.65,Electronics
2,1015,59,M,Medium,2020-08-13,5002,2023-01-16,10.36,Clothing
3,1018,33,M,Low,2022-05-28,5003,2023-02-20,453.16,Groceries
4,1003,57,F,Medium,2022-11-22,5004,2023-03-27,50.19,Electronics
...,...,...,...,...,...,...,...,...,...
95,1000,69,F,Medium,2022-03-26,5095,2023-03-03,350.59,Entertainment
96,1015,59,M,Medium,2020-08-13,5096,2023-03-25,270.37,Electronics
97,1006,57,M,Medium,2022-08-12,5097,2023-03-30,158.22,Clothing
98,1004,56,M,Medium,2021-11-18,5098,2023-03-27,407.83,Clothing
99,1002,50,F,Medium,2021-10-01,5099,2023-01-13,343.94,Groceries

In [165]:
df1=pd.DataFrame(customers)
df2=pd.DataFrame(transactions)
pd.merge(df1,df2, how='outer',on='Customer_ID')

,Customer_ID,Age,Gender,Income,Join_Date,Transaction_ID,Date,Amount,Category
0,1000,69,F,Medium,2022-03-26,5000,2023-03-17,448.28,Electronics
1,1000,69,F,Medium,2022-03-26,5017,2023-03-26,50.15,Groceries
2,1000,69,F,Medium,2022-03-26,5019,2023-02-02,33.49,Electronics
3,1000,69,F,Medium,2022-03-26,5033,2023-03-21,354.59,Electronics
4,1000,69,F,Medium,2022-03-26,5046,2023-01-12,281.41,Entertainment
...,...,...,...,...,...,...,...,...,...
95,1019,43,F,Medium,2022-08-17,5018,2023-02-08,249.74,Electronics
96,1019,43,F,Medium,2022-08-17,5045,2023-02-12,389.69,Electronics
97,1019,43,F,Medium,2022-08-17,5058,2023-01-02,293.77,Electronics
98,1019,43,F,Medium,2022-08-17,5073,2023-02-05,484.80,Entertainment
99,1019,43,F,Medium,2022-08-17,5077,2023-01-10,230.00,Entertainment

In [166]:
merged_data=pd.merge(customers,transactions, how='left', on='Customer_ID')
merged_data

,Customer_ID,Age,Gender,Income,Join_Date,Transaction_ID,Date,Amount,Category
0,1000,69,F,Medium,2022-03-26,5000,2023-03-17,448.28,Electronics
1,1000,69,F,Medium,2022-03-26,5017,2023-03-26,50.15,Groceries
2,1000,69,F,Medium,2022-03-26,5019,2023-02-02,33.49,Electronics
3,1000,69,F,Medium,2022-03-26,5033,2023-03-21,354.59,Electronics
4,1000,69,F,Medium,2022-03-26,5046,2023-01-12,281.41,Entertainment
...,...,...,...,...,...,...,...,...,...
95,1019,43,F,Medium,2022-08-17,5018,2023-02-08,249.74,Electronics
96,1019,43,F,Medium,2022-08-17,5045,2023-02-12,389.69,Electronics
97,1019,43,F,Medium,2022-08-17,5058,2023-01-02,293.77,Electronics
98,1019,43,F,Medium,2022-08-17,5073,2023-02-05,484.80,Entertainment
99,1019,43,F,Medium,2022-08-17,5077,2023-01-10,230.00,Entertainment

In [167]:
merged_data.isnull().sum()

Customer_ID       0
Age               0
Gender            0
Income            0
Join_Date         0
Transaction_ID    0
Date              0
Amount            0
Category          0
dtype: int64

In [168]:
merged_data.head()

,Customer_ID,Age,Gender,Income,Join_Date,Transaction_ID,Date,Amount,Category
0,1000,69,F,Medium,2022-03-26,5000,2023-03-17,448.28,Electronics
1,1000,69,F,Medium,2022-03-26,5017,2023-03-26,50.15,Groceries
2,1000,69,F,Medium,2022-03-26,5019,2023-02-02,33.49,Electronics
3,1000,69,F,Medium,2022-03-26,5033,2023-03-21,354.59,Electronics
4,1000,69,F,Medium,2022-03-26,5046,2023-01-12,281.41,Entertainment


### Tasks:

1. **Data Merging**:
   - Merge customer data with transaction data
   - Find customers with no transactions (left join)

2. **Customer Segmentation**:
   - Group customers by age brackets (18-25, 26-35, etc.) and analyze spending
   - Calculate average transaction amount by income level

In [169]:
# Solution

In [170]:
import pandas as pd
import numpy as np
bins=[0,25,35,45,55,65,100]
labels=['18-25','26-35','36-45','46-55','56-65','66+']
merged_data['Age_Bracket']=pd.cut(merged_data['Age'], bins=bins, labels=labels, right=True)
age_spending=merged_data.groupby('Age_Bracket')['Amount'].agg(['count','sum','mean']).reset_index()
print(age_spending)

  Age_Bracket  count      sum        mean
0       18-25     10  3067.98  306.798000
1       26-35     11  2590.27  235.479091
2       36-45     17  4924.21  289.659412
3       46-55     24  6878.66  286.610833
4       56-65     24  5487.52  228.646667
5         66+     14  3286.18  234.727143

/tmp/ipython-input-2063483551.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_spending=merged_data.groupby('Age_Bracket')['Amount'].agg(['count','sum','mean']).reset_index()

In [171]:
merged_data.columns

Index(['Customer_ID', 'Age', 'Gender', 'Income', 'Join_Date', 'Transaction_ID',
       'Date', 'Amount', 'Category', 'Age_Bracket'],
      dtype='object')

In [172]:
def transact(row):
  return row['Amount'].mean()

In [173]:
grouped=merged_data.groupby('Income').apply(transact)

/tmp/ipython-input-1523479075.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped=merged_data.groupby('Income').apply(transact)

In [174]:
grouped

Income
High      257.078750
Low       309.327917
Medium    244.961500
dtype: float64

# WEEK 1  GRADED ASSIGNMENT 1.2

In [175]:
dtf=pd.read_csv('/content/Week1_GA_dataset.csv')

In [176]:
dtf

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [177]:
dtf.shape

(10000, 12)

In [178]:
dtf.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property                0
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [179]:
dtf1=dtf[0::2]

In [180]:
dtf1

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
6,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
8,2009-01-02,2009,NaN,603540.0,1680000.0,Single Family,Detached House,3,1,1039.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9990,2022-09-30,2022,NaN,352030.0,700000.0,?,Detached House,3,3,958.0,1.003979,North
9992,2022-09-30,2022,Fairfield,NaN,680000.0,Single Family,Detached House,3,2,908.0,1.003979,West
9994,2022-09-30,2022,NaN,155550.0,215000.0,Three Family,Triplex,6,5,2114.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North

In [181]:
dtf1.iloc[0,3]

np.float64(111440.0)

In [182]:
dtf1.iloc[332,3]

np.float64(256200.0)

In [183]:
dtf2=dtf[1::2]

In [202]:
dtf2.iloc[332]

Date                     2009-11-01
Year                           2009
Locality                  Fairfield
Estimated Value            352940.0
Sale Price                 512000.0
Property              Single Family
Residential          Detached House
num_rooms                         3
num_bathrooms                     2
carpet_area                  1058.0
property_tax_rate          1.025953
Face                          South
Name: 665, dtype: object

In [200]:
dtf2.iloc[332,3]

np.float64(352940.0)

In [205]:
dtf3=dtf.iloc[:,1::2]

In [206]:
dtf3

      Year  Estimated Value       Property  num_rooms  carpet_area   Face
0     2009         111440.0  Single Family          3        996.0  South
1     2009         124670.0     Two Family          4       1241.0  South
2     2009          55720.0  Single Family          3        910.0  South
3     2009        4775276.0  Single Family          3        971.0   East
4     2009         112351.0              ?          3       1092.0   East
...    ...              ...            ...        ...          ...    ...
9995  2022         153660.0              ?          3        917.0  North
9996  2022         109820.0              ?          4       1416.0  North
9997  2022          83210.0  Single Family          3        964.0  South
9998  2022         216420.0  Single Family          3       1014.0  North
9999  2022         154920.0  Single Family          3        932.0   East

[10000 rows x 6 columns]

In [209]:
dtf3.iloc[100,5]

'West'

In [212]:
dtf4=dtf.iloc[0::2,0::2]

In [213]:
dtf4

,Date,Locality,Sale Price,Residential,num_bathrooms,property_tax_rate
0,2009-01-02,Waterbury,185000.0,Detached House,3,1.025953
2,2009-01-02,Waterbury,140000.0,Detached House,2,1.025953
4,2009-01-02,Bridgeport,210000.0,Detached House,2,1.025953
6,2009-01-02,Norwalk,1000000.0,Detached House,2,1.025953
8,2009-01-02,NaN,1680000.0,Detached House,1,1.025953
...,...,...,...,...,...,...
9990,2022-09-30,NaN,700000.0,Detached House,3,1.003979
9992,2022-09-30,Fairfield,680000.0,Detached House,2,1.003979
9994,2022-09-30,NaN,215000.0,Triplex,5,1.003979
9996,2022-09-30,Bridgeport,340000.0,Duplex,4,1.003979
9998,2022-09-30,NaN,415000.0,Detached House,3,1.003979

In [214]:
dtf4.iloc[255,3]

'Detached House'

In [215]:
dtf.duplicated().sum()

np.int64(0)

In [216]:
dtf.shape

(10000, 12)

In [219]:
dtf['Year'].unique().shape

(14,)

In [229]:
recent_year=sorted(dtf['Year'].unique())[-6:]

In [230]:
recent_year

[np.int64(2017),
 np.int64(2018),
 np.int64(2019),
 np.int64(2020),
 np.int64(2021),
 np.int64(2022)]

In [232]:
years = dtf[dtf['Year'].isin(recent_year)]

In [233]:
count=len(years)

In [234]:
count

4749

In [245]:
no=dtf[(dtf['num_rooms']==3) & (dtf['num_bathrooms']==3)]

In [246]:
no

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
13,2009-01-03,2009,Greenwich,1046920.0,600000.0,Single Family,Detached House,3,3,1068.0,1.025953,South
16,2009-01-05,2009,Waterbury,74620.0,206500.0,Single Family,Detached House,3,3,966.0,1.025953,South
22,2009-01-08,2009,NaN,1260560.0,1895000.0,Single Family,Detached House,3,3,1005.0,1.025953,South
...,...,...,...,...,...,...,...,...,...,...,...,...
9989,2022-09-29,2022,Stamford,373530.0,485000.0,?,Detached House,3,3,1084.0,1.003979,South
9990,2022-09-30,2022,NaN,352030.0,700000.0,?,Detached House,3,3,958.0,1.003979,North
9991,2022-09-30,2022,Norwalk,344270.0,512500.0,Single Family,Detached House,3,3,NaN,1.003979,West
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North

In [252]:
no2=dtf[(dtf['num_rooms']==3) | (dtf['num_bathrooms']==3)].shape[0]

In [253]:
no2

8591

In [263]:
no3=dtf[
    (dtf['Locality']=='Greenwich') &
    (dtf['Year']==2022) &
    (dtf['num_rooms']==3) &
    ((dtf['Face']=='North') |(dtf['Face']=='East')  )]

In [264]:
no3.shape

(42, 12)

In [265]:
dtf.columns

Index(['Date', 'Year', 'Locality', 'Estimated Value', 'Sale Price', 'Property',
       'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Face'],
      dtype='object')

In [266]:
dtf.shape

(10000, 12)

In [272]:
dtf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [274]:
dtf['Date']=pd.to_datetime(dtf['Date'])

In [275]:
dtf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  datetime64[ns]
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 937.6+ KB

In [277]:
count=dtf[dtf['Date'].dt.month==8]

In [279]:
count.shape[0]

1050

In [295]:
grouped=dtf.groupby('Locality')['Sale Price'].mean().sort_values(ascending=False)

In [296]:
grouped

Locality
Greenwich        2.270224e+06
Fairfield        7.277225e+05
Stamford         6.305313e+05
Norwalk          5.590959e+05
West Hartford    3.385472e+05
Bridgeport       1.740953e+05
Waterbury        1.062152e+05
Name: Sale Price, dtype: float64

In [293]:
grouped.sort_values(ascending=False)

Locality
Greenwich        2.270224e+06
Fairfield        7.277225e+05
Stamford         6.305313e+05
Norwalk          5.590959e+05
West Hartford    3.385472e+05
Bridgeport       1.740953e+05
Waterbury        1.062152e+05
Name: Sale Price, dtype: float64